* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --main-bg-color: #F3FCF7;
    --btn-bg: #06C167;
    --primary-color: #06C167;
    --text-color: #1D1D1F;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 7rem;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .container {
        padding: 0 1.875rem;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 0 18rem;
    }

    nav {
        padding: 1.5rem 18rem !important;
    }

    .main-section {
        height: 55vh !important;
    }

    .desktop-partners {
        margin-top: 14rem !important;
    }
}


.section {
    margin-top: 5rem;
    margin-bottom: 7rem;
}


/* Navbar start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7rem;
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo img {
    width: 80%;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
}


.nav-links ul li a {
    color: #1D1D1F;
    padding: 0 0.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-links ul li a.active {
    color: var(--btn-bg);
}

.nav-links ul li a:hover {
    color: var(--btn-bg);
}

.nav-links ul li a.active::before {
    content: '';
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--btn-bg);
    border-radius: 50%;
    left: 50%;
    bottom: -0.625rem;
}

.menu-icon i {
    font-size: 1.5rem;
    color: var(--btn-bg);
    padding: 0.5rem 1.475rem;
    border: 3px solid var(--btn-bg);
    display: none;
    cursor: pointer;
}


/* responsive */
@media (max-width: 576px) {
    nav {
        padding: 1rem 2rem;
        position: relative;
    }

    .logo img {
        width: 85%;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 4.375rem;
        right: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 1rem 0;
        z-index: 1000;
        transition: all 0.3s ease-in-out;

    }

    .nav-links ul li {
        display: block;
        margin: 0.8rem 0;
    }

    .menu-icon i {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul li a.active::before {
        display: none;
    }

    #navLinks.active {
        display: flex;
    }

}

/* Navbar ends */



/* main section start */
.main-section {
    background: var(--main-bg-color);
    width: 100%;
    height: 80vh;
}

.all-content {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.main-content h1 {
    font-size: 4.6875rem;
    line-height: 1.2;
    color: #1D1D1F;
    font-weight: 600;
    padding-top: 2rem;
}

.mobile-h1 {
    display: none;
}

.main-content p {
    font-size: 0.9rem;
    color: rgba(29, 29, 31, 0.749);
    line-height: 1.6;
    margin-bottom: 1rem;
}

.mobile-p {
    display: none;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--btn-bg);
    padding: 1.2rem 2.2rem;
    color: #fff;
    border: 2px solid var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.right-arrow {
    margin-left: 0.6rem;
}

.btn:hover {
    background-color: transparent;
    color: var(--btn-bg);
}

.desktop-partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 13rem;
    gap: 1rem;
}

.desktop-partners img {
    width: 80%;
}

.chef-img {
    position: relative;
}

.rating-badge .badge {
    position: absolute;
    top: 48%;
    right: 70%;
    z-index: 100;
}


.badge {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: .8rem 0;
    width: 46.5%;
    padding-left: 1rem;
    border-radius: 2rem;
    background: #ffff;
}

.badge h5 {
    font-size: 0.9rem;
    font-weight: 500;
}

.badge span i {
    color: var(--btn-bg);
    font-size: .8rem;
    background: #fff;

}

.quality-badge .badge2 {
    position: absolute;
    top: 32%;
    left: 60%;
}

.badge2 {
    width: 46.5%;
    padding: .3rem;
}

.badge2 img {
    width: 18%;
}

.polcadot-img img {
    position: absolute;
    left: 70%;
    top: 75%;
    z-index: 50;
}

.mobile-partners {
    display: none;
}


/* responsive */

@media (max-width: 576px) {
    .all-content {
        flex-direction: column;
        overflow: hidden;
    }

    .main-content h1 {
        font-size: 3rem;
        text-align: center;
    }

    .main-content p {
        text-align: center;
    }

    .mobile-h1 {
        display: block;
        margin-bottom: 1.2rem;
    }

    .desktop-h1 {
        display: none;
    }

    .mobile-p {
        display: block;
    }

    .desktop-p {
        display: none;
    }

    .btn {
        width: 100%;
        margin-top: 2rem;
    }



    .chef-img {
        margin-top: 3rem;
        overflow: hidden;
    }

    .chef-img .chef {
        width: 100%;
        height: auto;
    }

    .rating-badge .badge {
        top: 77%;
        left: 20%;
        z-index: 100;
        width: 62%;
    }


    .quality-badge .badge2 {
        top: 88.5%;
        left: 20%;
        z-index: 100;
        width: 62%;
    }


    .desktop-partners {
        display: none;
    }

    .mobile-partners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.4rem;
        margin-top: 2.6rem;
        width: 100%;
        justify-items: flex-end;
        align-items: center;
    }

    .mobile-partners img {
        width: 75%;
    }

    .mobile-partners img:first-child {
        justify-self: flex-start;
    }

    .mobile-partners img:last-child {
        grid-column: 1 / -1;
        justify-self: center;
        width: 32%;
    }


}
/* main section end */


/* delivery section start */
.section-delivery {
    margin-top: 12rem;
    margin-bottom: 5.5rem;
}

.delivery-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.delivery-content {
    padding: 3.2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.delivery-content span i {
    color: var(--btn-bg);
    font-size: 1.3rem;
    background: #F3FCF7;
    padding: .7rem 1.7rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-content h5 {
    color: #1D1D1F;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.8;
}

.delivery-content p {
    opacity: 0.8;
    font-size: .8rem;
}



/* responsive */
@media (max-width: 576px) {
    .delivery-area {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 23rem;
    }

    .delivery-content {
        flex-direction: column;
        gap: .8rem;
        text-align: center;
    }

    .delivery-content span i {
        font-size: 1.1rem;
        padding: 1rem 1.7rem;
    }
}
/* delivery section end */




/* our benefit section start */
.our-benefit {
    display: flex;
    gap: 6rem;
}




.benefit-content h4,
.stars-content h4 {
    font-size: 0.9em;
    color: #1D1D1F;
    font-weight: 600;
    margin-bottom: .6rem;
    margin-top: 4rem;
}

.benefit-content h2,
.stars-content h2 {
    position: relative;
    font-size: 3.75rem;
    color: #1D1D1F;
    font-weight: 500;
    margin-bottom: 2.5rem;
    z-index: 100;
}

.benefit-description .short-des {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.short-des span i {
    color: var(--btn-bg);
    font-weight: bold;
    font-size: 1.2rem;
}

.short-des p {
    margin: .6rem 0;
    margin-right: 20px;
    font-size: .9rem;
    color: #1D1D1F;
    text-transform: capitalize;
}

.benefit-content {
    position: relative;
}

.benefit-content .dot-img {
    position: absolute;
    top: 17%;
    right: 75%;

}

.food-img-m {
    display: none;
}

.rectangle-m {
    display: none;
}

/* responsive */
@media (max-width: 576px) {
    .our-benefit {
        flex-direction: column;
        gap: .2rem;
    }

    .food-img {
        display: none;
    }

    .food-img-m {
        display: block;
        overflow: hidden;
    }

    .food-img-m img {
        width: 100%;
        height: auto;
    }

    .benefit-content {
        text-align: center;
    }

    .benefit-content h4 {
        position: relative;
        z-index: 100;
    }

    .benefit-content h2 {
        font-size: 2.1875rem;
    }

    .benefit-content .dot-img {
        top: 14%;
        right: 58%;
    }

    .benefit-description {
        position: relative;
        z-index: 100;
    }

    .short-des {
        margin-left: 2.4rem;
    }

    .short-des span i {
        font-size: 1.5rem;
    }

    .short-des p {
        font-size: 1rem;
    }
}
/* our benefit section end  */


/* our stars section start */
.our-stars {
    display: flex;
    gap: 6rem;
}

.stars-content {
    position: relative;
}

.stars-content .dot-img {
    position: absolute;
    top: 16%;
    right: 75%;
}

.counts {
    display: flex;
    justify-content: space-between;
}

.count h3 {
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.count p {
    font-size: .9rem;
    margin-top: 1rem;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 2.4rem;
}

.stars-img-m {
    display: none;
}

/* responsive */
@media (max-width: 576px) {
    .our-stars {
        flex-direction: column-reverse;
    }

    .stars-img-m {
        display: block;
    }

    .stars-img-m img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .stars-img {
        display: none;
    }

    .stars-content h4 {
        margin-top: 1.8rem;
    }

    .stars-content {
        text-align: center;
    }

    .stars-content h2 {
        font-size: 2.1875rem;
    }

    .stars-content h4 {
        position: relative;
        z-index: 100;
    }

    .stars-content .dot-img {
        top: 7%;
        right: 50%;
    }

    .counts {
        flex-direction: column;
    }

    .extra-margin {
        margin-top: 2.5rem;
    }
}
/* our stars section end */


/* variety foods section start */
.variety-content h5 {
    font-size: .9rem;
    color: var(--text-color);
    text-align: center;
}

.variety-content h2 {
    font-size: 3.75rem;
    color: var(--text-color);
    text-align: center;
    line-height: 2;
    font-weight: 500;
    margin-bottom: 3rem;
}

.food-content {
    border: 2px solid var(--primary-color);
    padding: 2.5rem 2rem;
    background: #F3FCF7;
}

.variety-food img {
    margin-bottom: -.3rem;
}


.food-content h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

.food-content p {
    font-size: .9rem;
    margin-bottom: 1rem;
    opacity: .7;
}

.discover-btn {
    border: none;
    outline: none;
}

.discover-btn {
    background-color: #E6F9F0;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 1rem;
}

.main-content-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title-m {
    display: none;
}

.variety-food {
    width: 100%;
}

.variety-food img {
    width: 100%;
    height: auto;
}

/* responsive */
@media (max-width: 576px) {

    .main-content-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-content-box-m {
        display: flex;
        flex-direction: column-reverse;
    }

    .variety-food img {
        width: 100%;
        height: auto;
    }

    .variety-content h2 {
        margin-top: .5rem;
        font-size: 2.1875rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    .title-d {
        display: none;
    }

    .title-m {
        display: block;
    }

    .food-content button {
        background: #F0EDE2;
        display: block;
        margin-right: auto;
    }

    .food-content {
        background: #F0F1EC;
    }

    .discover-btn {
        width: 70%;
        margin-top: 3rem !important;
    }

}
/* variety foods section end */


/* popular product section start */
.product-container h5 {
    font-size: .9rem;
    color: var(--text-color);
    margin-bottom: .8rem;
}

.product-container h2 {
    font-size: 3.75rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 3rem;
}

.popular-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
}

.product-box {
    border: 2px solid rgba(118, 118, 117, 0.251);
    text-align: center;
    padding: 1.2rem 0;
    transition: all 0.3s ease-in-out;
}

.product-box.active {
    border: 2px solid var(--primary-color);
}

.product-box:hover {
    border: 2px solid var(--primary-color);
}

.banana-ratings .stars {
    font-size: .8rem;
    color: var(--primary-color);
}

.product-box h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.2rem 0;
    color: var(--text-color);
    opacity: .8;
}

.del-price {
    color: #767675;
    margin-right: .5rem;
}

.product-price {
    color: var(--primary-color);
}

.buy-now-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: .8rem 1.5rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}

.buy-now-btn span i {
    color: var(--primary-color);
    margin-left: .5rem;
}

.buy-now-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid var(--primary-color);
}

/* responsive */
@media (max-width: 576px) {
    .popular-products {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .product-container h5 {
        text-align: center;
    }

    .product-container h2 {
        font-size: 2.3rem;
        text-align: center;
    }

}
/* popular product section end */


/* Ingredients section start  */
.ingredients-section {
    position: relative;
    height: 400px;
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: .1rem;
}

.ingredients-section::before {
    content: '';
    position: absolute;
    background-image: url(../images/ingreadients-img.png);
    inset: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

.ingredients-section::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.ingredients-content {
    position: relative;
    z-index: 2;
}

.ingredients-content h2 {
    font-size: 3.75rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.ingredients-btn {
    padding: 1.8rem 2.8rem;
}

.ingredients-btn:hover {
    border: 2px solid var(--primary-color);
    color: #fff;
}

.ingredients-h2-m {
    display: none;
}

/* responsive */
@media (max-width: 576px) {
    .ingredients-content h2 {
        font-size: 2.1875rem;
        margin-bottom: .5rem;
    }

    .ingredients-h2-d {
        display: none;
    }

    .ingredients-h2-m {
        display: block;
    }

    .ingredients-btn {
        padding: 1rem 1.2rem;
        width: 70%;
    }

    .container-2 {
        padding: 0 !important;
    }
}
/* Ingredients section end */


/* footer section start */
.footer .footer-container .footer-wrapper {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}

.footer-logo img {
    width: 25%;
    margin-bottom: 1.6rem;
}

.footer-paragraph {
    font-size: .9rem;
    margin-bottom: 1.6rem;
}

.social-icon a i {
    color: #000;
}

.footer-item h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.footer-item ul li {
    list-style-type: none;
}

.footer-item ul li a {
    display: inline-block;
    margin: .5rem 0;
    color: #000;
    font-size: .9rem;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-box input {
    border: none;
    background: #F0F1EC;
    padding: 1.2rem 1.5rem;
    width: 98%;
}

.f-btn {
    padding: 1rem 1.6rem;
}

.copyright {
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}


/* responsive */
@media (max-width: 576px) {
    .footer .footer-container .footer-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 3rem;
    }

    .input-box {
        flex-direction: column;
        margin: auto;
        gap: .8rem;

    }

    .btn {
        margin-top: 0;
    }

    .copyright {
        margin-top: 3.5rem;
    }
}
/* footer section end */